.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 5rem;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 5rem;
}